<% provide :title, t(".about")%>
<h1><%= t ".about" %></h1>
<p>
  <%= t(".content",
    rort: link_to(t(".rort"), Settings.static_pages.home.link),
    book: link_to(t(".book"), Settings.links.tutorial_book),
    screencast: link_to(t(".screencast"),
    Settings.links.tutorial_screen),
    ror: link_to(t(".ror"), Settings.static_pages.home.link)).html_safe %>
</p>
