<% provide :title, t(".help")%>
<h1><%= t ".help" %></h1>
<p>
  <%= t(".content", 
  rorhs: link_to(t(".rorhs"), Settings.link_help),
  rort: link_to(t(".rort"), Settings.links.tutorial_book)).html_safe %>
</p>
